/*************************
* CIRCLE STUDIO srl, 2017
**************************/ 


/*
    Phantom by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Reset */

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    small{
        font-size: 75%;
    }
    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    body {
        -webkit-text-size-adjust: none;
    }

/* Box Model */

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }


@import url(https://fonts.googleapis.com/css?family=Lato:400,900,300);
@font-face {
    font-family: 'Nexa Book';
    src: url('webfonts/Nexa-Book.eot');
    src: local('webfonts/Nexa Book'), local('Nexa-Book'),
        url('webfonts/Nexa-Book.eot?#iefix') format('embedded-opentype'),
        url('webfonts/Nexa-Book.woff') format('woff'),
        url('webfonts/Nexa-Book.ttf') format('truetype'),
        url('webfonts/Nexa-Book.svg#Nexa-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NexaBlack';
    src: url('webfonts/NexaBlack.eot');
    src: local('webfonts/Nexa Black'), local('NexaBlack'),
        url('webfonts/NexaBlack.eot?#iefix') format('embedded-opentype'),
        url('webfonts/NexaBlack.woff') format('woff'),
        url('webfonts/NexaBlack.ttf') format('truetype'),
        url('webfonts/NexaBlack.svg#NexaBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

/*Fonts*/
.nexa-book{
    font-family: "Nexa Book" !important;
}
.nexa-black{
    font-family: "NexaBlack" !important;
}
.space{
    margin: 2em 0 0 0;
}
.space-top{
    padding-top: 4em;
}
/* Basic */

    @-ms-viewport {
        width: device-width;
    }

    body {
        -ms-overflow-style: scrollbar;
    }

    @media screen and (max-width: 480px) {

        html, body {
            min-width: 320px;
        }

    }

    body {
        background: #ffffff;
    }

        body.is-loading *, body.is-loading *:before, body.is-loading *:after {
            -moz-animation: none !important;
            -webkit-animation: none !important;
            -ms-animation: none !important;
            animation: none !important;
            -moz-transition: none !important;
            -webkit-transition: none !important;
            -ms-transition: none !important;
            transition: none !important;
        }

/* Type */

    body, input, select, textarea {
        color: #777;
        font-family: "Nexa Book";
        font-size: 12pt;
        font-weight: 300;
        line-height: 1.75;
    }

    @media screen and (max-width: 1680px) {

        body, input, select, textarea {
            font-size: 14pt;
        }

    }

    @media screen and (max-width: 1280px) {

        body, input, select, textarea {
            font-size: 12pt;
        }

    }

    a {
        -moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
        -webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
        -ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
        transition: border-bottom-color 0.2s ease, color 0.2s ease;
        text-decoration: none;
        color: #585858;
        border-bottom: dotted 1px rgba(88, 88, 88, 0.5);
    }

    a:hover {
        border-bottom-color: transparent;
        color: #f5f6e3 !important;
    }

    strong, b {
        font-weight: 900;
    }

    em, i {
        font-style: italic;
    }

    p {
        margin: 0 0 2em 0;
    }

    h1 {
        font-size: 2.75em;
        font-weight: 700;
        line-height: 1.3;
        margin: 0 0 1em 0;
    }

    h1 a {
        color: inherit;
    }

    @media screen and (max-width: 736px) {

        h1 {
            font-size: 2em;
            margin: 0 0 1em 0;
        }

    }

    @media screen and (max-width: 360px) {

        h1 {
            font-size: 1.75em;
        }

    }

    h2, h3, h4, h5, h6 {
        font-weight: 900;
        line-height: 1.5;
        margin: 0 0 2em 0;
        text-transform: uppercase;
    }

    h2 a, h3 a, h4 a, h5 a, h6 a {
        color: inherit;
    }

    h2 {
        font-size: 1.1em;
    }

    h3 {
        font-size: 1em;
    }

    h4 {
        font-size: 0.8em;
    }

    h5 {
        font-size: 0.8em;
    }

    h6 {
        font-size: 0.8em;
    }

    @media screen and (max-width: 980px) {

        h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
            display: none;
        }

    }

    @media screen and (max-width: 736px) {

        h2 {
            font-size: 1em;
        }

        h3 {
            font-size: 0.8em;
        }

    }

    sub {
        font-size: 0.8em;
        position: relative;
        top: 0.5em;
    }

    sup {
        font-size: 0.8em;
        position: relative;
        top: -0.5em;
    }

    blockquote {
        border-left: solid 4px #c9c9c9;
        font-style: italic;
        margin: 0 0 2em 0;
        padding: 0.5em 0 0.5em 2em;
    }

    code {
        background: rgba(144, 144, 144, 0.075);
        border-radius: 4px;
        border: solid 1px #c9c9c9;
        font-family: "Nexa Book";
        font-size: 0.9em;
        margin: 0 0.25em;
        padding: 0.25em 0.65em;
    }

    pre {
        -webkit-overflow-scrolling: touch;
        font-family: "Nexa Book";
        font-size: 0.9em;
        margin: 0 0 2em 0;
    }

        pre code {
            display: block;
            line-height: 1.75;
            padding: 1em 1.5em;
            overflow-x: auto;
        }

    hr {
        border: 0;
        border-bottom: solid 1px #c9c9c9;
        margin: 2em 0;
    }

    hr.major {
        margin: 3em 0;
    }

    .align-left {
        text-align: left;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }

/* Section/Article */

    section.special, article.special {
        text-align: center;
    }

    header p {
        margin-top: -1em;
    }

    @media screen and (max-width: 736px) {

        header p {
            margin-top: 0;
        }

    }


/* Header */

    #header {
        padding: 0;
    }

        

    #header nav {
        position: fixed;
        right: 2em;
        top: 2em;
        z-index: 10000;
    }

    #header nav ul {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #header nav ul li {
        display: block;
        padding: 0;
    }

    #header nav ul li a {
        display: block;
        position: relative;
        height: 3em;
        line-height: 3em;
        padding: 0 1.5em;
        /* background-color: rgba(255, 255, 255, 0.5); */
        border-radius: 4px;
        border: 0;
        font-size: 0.8em;
        font-weight: 900;
        text-transform: uppercase;
    }

    #header nav ul li a[href="#menu"] {
        -webkit-tap-highlight-color: transparent;
        width: 4em;
        text-indent: 4em;
        font-size: 1em;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
    }

    #header nav ul li a[href="#menu"]:before, #header nav ul li a[href="#menu"]:after {
        -moz-transition: opacity 0.2s ease;
        -webkit-transition: opacity 0.2s ease;
        -ms-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 2em 2em;
    }

    #header nav ul li a[href="#menu"]:before { /* hover */
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23585858%3B %7D%3C/style%3E%3Cline x1='0' y1='25' x2='100' y2='25' /%3E%3Cline x1='0' y1='50' x2='100' y2='50' /%3E%3Cline x1='0' y1='75' x2='100' y2='75' /%3E%3C/svg%3E");
        opacity: 0;
    }

    #header nav ul li a[href="#menu"]:after { 
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23cccccc%3B %7D%3C/style%3E%3Cline x1='0' y1='25' x2='100' y2='25' /%3E%3Cline x1='0' y1='50' x2='100' y2='50' /%3E%3Cline x1='0' y1='75' x2='100' y2='75' /%3E%3C/svg%3E");
        opacity: 1;
    }

    #header nav ul li a[href="#menu"]:hover:before {
        opacity: 1;
    }

    #header nav ul li a[href="#menu"]:hover:after {
        opacity: 0;
    }

    @media screen and (max-width: 736px) {

        #header {
            padding: 4em 0 0.1em 0 ;
        }

        #header nav {
            right: 0.5em;
            top: 0.5em;
        }

        #header nav ul li a[href="#menu"]:before, #header nav ul li a[href="#menu"]:after {
            background-size: 1.5em 1.5em;
        }

    }

/* Menu */

    #wrapper {
        -moz-transition: opacity 0.45s ease;
        -webkit-transition: opacity 0.45s ease;
        -ms-transition: opacity 0.45s ease;
        transition: opacity 0.45s ease;
        opacity: 1;
        margin: 30px;
        background: #ffffff;
    }

    .logo-menu{
        width: 30%;
        height:auto;
        margin-bottom: 2em; 
    }

    #menu {
        -moz-transform: translateX(22em);
        -webkit-transform: translateX(22em);
        -ms-transform: translateX(22em);
        transform: translateX(22em);
        -moz-transition: -moz-transform 0.45s ease, visibility 0.45s;
        -webkit-transition: -webkit-transform 0.45s ease, visibility 0.45s;
        -ms-transition: -ms-transform 0.45s ease, visibility 0.45s;
        transition: transform 0.45s ease, visibility 0.45s;
        position: fixed;
        top: 0;
        right: 0;
        width: 23em;
        max-width: 80%;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        background-color: rgba(0, 0, 0, 0.9);
        color: #ffffff;
        cursor: default;
        visibility: hidden;
        z-index: 10002;
    }

    #menu > .inner {
        -moz-transition: opacity 0.45s ease;
        -webkit-transition: opacity 0.45s ease;
        -ms-transition: opacity 0.45s ease;
        transition: opacity 0.45s ease;
        -webkit-overflow-scrolling: touch;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2em;
        opacity: 0;
        overflow-y: auto;
    }

    #menu > .inner > ul {
        list-style: none;
        margin: 0 0 1em 0;
        padding: 0;
    }

    #menu > .inner > ul > li {
        padding: 0;
        clear: both;
    } 

    #menu > .inner > ul > li a {
        display: flex;
        padding: 0;
        margin: 1em 0;
        border: 0;
        color: inherit;
        float: left;
    }

    #menu > .inner > ul > li span {
        display: flex;
        padding: 0 0.5em 0 0;
        margin: 0;
        font-size: 40px;
        border: 0;
        float: left;
    }            

    #menu > .close {
        -moz-transition: opacity 0.45s ease, -moz-transform 0.45s ease;
        -webkit-transition: opacity 0.45s ease, -webkit-transform 0.45s ease;
        -ms-transition: opacity 0.45s ease, -ms-transform 0.45s ease;
        transition: opacity 0.45s ease, transform 0.45s ease;
        -moz-transform: scale(0.25) rotate(180deg);
        -webkit-transform: scale(0.25) rotate(180deg);
        -ms-transform: scale(0.25) rotate(180deg);
        transform: scale(0.25) rotate(180deg);
        -webkit-tap-highlight-color: transparent;
        display: block;
        position: absolute;
        top: 2em;
        left: -6em;
        width: 6em;
        text-indent: 6em;
        height: 3em;
        border: 0;
        font-size: 1em;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
    }

    #menu > .close:before, #menu > .close:after {
        -moz-transition: opacity 0.2s ease;
        -webkit-transition: opacity 0.2s ease;
        -ms-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 2em 2em;
    }

    #menu > .close:before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23cccccc%3B %7D%3C/style%3E%3Cline x1='15' y1='15' x2='85' y2='85' /%3E%3Cline x1='85' y1='15' x2='15' y2='85' /%3E%3C/svg%3E");
        opacity: 0;
    }

    #menu > .close:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 8px%3B stroke: %23000000%3B %7D%3C/style%3E%3Cline x1='15' y1='15' x2='85' y2='85' /%3E%3Cline x1='85' y1='15' x2='15' y2='85' /%3E%3C/svg%3E");
        opacity: 1;
    }

    #menu > .close:hover:before {
        opacity: 1;
    }

    #menu > .close:hover:after {
        opacity: 0;
    }

    @media screen and (max-width: 736px) {

        #menu {
            -moz-transform: translateX(16.5em);
            -webkit-transform: translateX(16.5em);
            -ms-transform: translateX(16.5em);
            transform: translateX(16.5em);
            width: 16.5em;
        }

        #menu > .inner {
            padding: 2.75em 1.5em;
        }

        #menu > .close {
            top: 0.5em;
            left: -4.25em;
            width: 4.25em;
            text-indent: 4.25em;
        }

        #menu > .close:before, #menu > .close:after {
            background-size: 1.5em 1.5em;
        }

    }

    body.is-menu-visible #wrapper {
        -moz-pointer-events: none;
        -webkit-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
        cursor: default;
        opacity: 0.25;
    }

    body.is-menu-visible #menu {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        visibility: visible;
    }

    body.is-menu-visible #menu > * {
        opacity: 1;
    }

    body.is-menu-visible #menu .close {
        -moz-transform: scale(1.0) rotate(0deg);
        -webkit-transform: scale(1.0) rotate(0deg);
        -ms-transform: scale(1.0) rotate(0deg);
        transform: scale(1.0) rotate(0deg);
        opacity: 1;
    }

/* Main */

    #main {
        padding: 0em 0 6em 0 ;
    }

    @media screen and (max-width: 736px) {

        #main {
            padding: 0em 0 4em 0 ;
        }

    }

/* Footer */

    #footer {
        padding: 5em 0 6em 0 ;
        background-color: #f6f6f6;
    }

    #footer > .inner {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -moz-flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    #footer > .inner > * > :last-child {
        margin-bottom: 0;
    }

    #footer > .inner section:nth-child(1) {
        width: calc(66% - 2.5em);
        margin-right: 2.5em;
    }

    #footer > .inner section:nth-child(2) {
        width: calc(33% - 2.5em);
        margin-left: 2.5em;
    }

    #footer > .inner .copyright {
        width: 100%;
        padding: 0;
        margin-top: 5em;
        list-style: none;
        font-size: 0.8em;
        color: rgba(88, 88, 88, 0.5);
    }

    #footer > .inner .copyright a {
        color: inherit;
    }

    #footer > .inner .copyright li {
        display: inline-block;
        border-left: solid 1px rgba(88, 88, 88, 0.15);
        line-height: 1;
        padding: 0 0 0 1em;
        margin: 0 0 0 1em;
    }

    #footer > .inner .copyright li:first-child {
        border-left: 0;
        padding-left: 0;
        margin-left: 0;
    }

    @media screen and (max-width: 1280px) {

        #footer {
            padding: 5em 0 3em 0 ;
        }

        #footer > .inner section:nth-child(1) {
            width: calc(66% - 1.25em);
            margin-right: 1.25em;
        }

        #footer > .inner section:nth-child(2) {
            width: calc(33% - 1.25em);
            margin-left: 1.25em;
        }

    }

    @media screen and (max-width: 980px) {

        #footer > .inner section:nth-child(1) {
            width: 66%;
            margin-right: 0;
        }

        #footer > .inner section:nth-child(2) {
            width: calc(33% - 2.5em);
            margin-left: 2.5em;
        }

    }

    @media screen and (max-width: 736px) {

        #footer {
            padding: 3em 0 1em 0 ;
        }

        #footer > .inner {
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        #footer > .inner section:nth-child(1) {
            width: 100%;
            margin-right: 0;
            margin: 3em 0 0 0;
        }

        #footer > .inner section:nth-child(2) {
            -moz-order: -1;
            -webkit-order: -1;
            -ms-order: -1;
            order: -1;
            width: 100%;
            margin-left: 0;
        }

        #footer > .inner .copyright {
            margin-top: 3em;
        }

    }

    @media screen and (max-width: 480px) {

        #footer > .inner .copyright {
            margin-top: 3em;
        }

        #footer > .inner .copyright li {
            border-left: 0;
            padding-left: 0;
            margin: 0.75em 0 0 0;
            display: block;
            line-height: inherit;
        }

        #footer > .inner .copyright li:first-child {
            margin-top: 0;
        }

    }

/* Wrapper */

    #wrapper > * > .inner {
        width: 100%;
        max-width: 68em;
        margin: 0 auto;
        padding: 0 2.5em;
    }

    @media screen and (max-width: 736px) {

        #wrapper > * > .inner {
            padding: 0 1.25em;
        }

    }

/* Colori Sezioni */ 
     
    .meg{
        color: #fb8669;
    }
    .progetto{
        color: #e0e6e6;
    }
    .offerta{
        color: #8bb465;
    }
    .buyers{
        color: #ecdec4;
    }
    .contatti{
        color: #f9bd30;
    }


    /* --------------------------------

04.FACTS

-------------------------------- */

.facts {
        padding: 5em 0 2em 0;
        background-color: #f5f6e3;
        border-top: 15px double #ffffff
}

@media only screen and (max-width : 480px) {
    .facts {
        padding: 50px 0 100px 0;
    }
}


#facts .bottom-separator {
    border-color: #f7f7f7 transparent transparent transparent;
}

.bottom-right-separator {
    width: 0;
    z-index: 3;
    position: absolute;
    bottom: -180px;
    right: 0;
    height: 0;
    border-style: solid;
    border-width: 180px 0 0 100vw;
    border-color: #fff transparent transparent transparent;
}

.numscroller{
      font-size: 45px;
      color: #000;
      margin-top: 0;
}

.count-name-intro{
        font-size: 20px;
        color: #000;
}

.count-item i{
        font-size: 110px;
        color: #fff;
}

@media only screen and (max-width : 992px){

    .count-item{
        margin-top: 20px;
    }
}

/* --------------------------------

07.TEAM

-------------------------------- */

.team {
        padding: 0;
}

.process-numbers {
        font-size: 150px;
        z-index: 1;
}

@media (min-width: 1200px) {
    .top-separator {
        top: -48px;
    }
    #facts .bottom-separator{
        bottom: -48px;
    }
}

.section-title-parralax h2{
        color: #000;
        font-size: 50px;
        text-transform: unset;
        margin-top: -180px;
}

.module-subtitle {
    text-transform: none !important;
    color: #000;
    font-family: "Lato";
    text-align: justify;
    font-size: 16px;
    margin-bottom: 50px;
}
.module-subtitle a:hover{
    color:#777 !important;
}

#form-messages p{
    margin: 0;
    padding: 0;
    font-size: 75%;
}

/* --------------------------------

04.FEATURES

-------------------------------- */
.features {
    margin: 5em 0;
    padding: 100px 0 100px 0;
    background-color: #f5f6e3;
    border-top: 15px double #fff;
}

@media only screen and (max-width : 480px) {
    .features {
        padding: 50px 0 100px 0;
    }
}
.features .feature-item .item-head {
    position: relative;
    text-align: center;
    display: block;
}

.features .feature-item .item-head i {
    font-size: 50px;
        color:#000;
}

.features .feature-item .item-head {
    position: relative;
    display: block;
}

.features .feature-item .item-head i {
    font-size: 50px;
        color:#000;
}

.features .feature-item h6 {
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0;
    color: #000;
    text-align: center;
    font-family: "Nexa";
}

.features .feature-item p {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    font-family: "Lato";
}


/* --------------------------------

08.PRICING

-------------------------------- */

.pricing {
    padding: 100px 0 50px 0;
    text-align: center;
}

.pricing h2{
    text-transform: none;
      color: #000;
      font-size: 40px;
      font-weight: 700;
      margin-top: -170px;
      margin-bottom: 100px;
}

.plan_price .numscroller{
    color: #000;
}

.pricing_plan {
    border:1px solid #ddd;
    padding: 1em 0;
}

.plan_title h6{
    font-size: 30px;
    font-family: "NexaBlack";
    padding: 40px;
    text-align: center;
    margin: 0;
    text-transform: unset;
}

.plan_price .numscroller {
    font-size: 50px;
    color: #000;
    padding: 35px;
    margin-top: -125px;
}

.list li {
    padding: 15px 20px;
    color: #777;
    font-size: 13px;
    font-weight: 400;
    text-align: justify;
    min-height: 200px;
}

 .plan_price i{
     color: #f1f1f1;
     font-size: 100px;
}

.list strong{
    margin-right: 5px;
    color:#000;
}

@media only screen and (max-width : 480px){

    .pricing_plan {
        margin-top: 5px;
    }


}

/* --------------------------------

09.CLIENTS

-------------------------------- */
 #clients{
     background-color: #f5f6e3;
     padding: 0 0 50px;
     border-bottom: 15px double #fff;
 }

 .svgcolor-light, .svgcolor-dark {
    position: relative;
    top: -2px;
    z-index: 3;
}

#owl-demo{
      padding-top: 30px;
}

#owl-demo .item{
    margin: 3px;
}

#owl-demo .item img{
    display: block;
    height: auto;
        margin: 0 auto;
}

/* #####  Footer  ##### */

footer.main-footer{
        background-color: #000;
        z-index: 0;
}

footer p {
    color: #777;
}

footer a {
    color: #fff;
    font-family: "NexaBlack";
}

footer a:hover {
    color: #000;
    text-decoration: none;
}

.logo-footer{
    margin-bottom: 30px;
    width: 10%;
}

.footer-widget h4 {
        color: #777;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-size: 15px;
        position: relative;
        z-index: 2;
}

.contact-widget ul.social-icons li {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
}

.contact-widget ul.social-icons li a i {
    font-size: 15px;
    width: 25px;
    height: 30px;
    color: #777;
    display: block;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.contact-widget ul.social-icons li a:hover {
    text-decoration: none;
}

.contact-widget ul.social-icons li a.facebook:hover i {
    color: #507CBE;
}

.contact-widget ul.social-icons li a.twitter:hover i {
    color: #63CDF1;
}

.contact-widget ul.social-icons li a.google:hover i {
    color: #F16261;
}

.contact-widget ul.social-icons li a.dribbble:hover i {
    color: #E46387;
}

.contact-widget ul.social-icons li a.linkdin:hover i {
    color: #90CADD;
}

.contact-widget ul.social-icons li a.tumblr:hover i {
    color: #4D7EA3;
}

.contact-widget ul.social-icons li a.flickr:hover i {
    color: #E474AF;
}

.contact-widget ul.social-icons li a.instgram:hover i {
    color: #4D4F54;
}

.contact-widget ul.social-icons li a.vimeo:hover i {
    color: #87D3E0;
}

.contact-widget ul.social-icons li a.skype:hover i {
    color: #36C4F3
}

.contact-widget span {
    font-weight: 900;
}

.contact-widget ul li {
    margin-bottom: 12px;
}

.contact-widget ul li p a {
    color: #777;
}

.contact-widget p {
   padding-bottom: 20px;
}

.twitter-widget a:hover {
    color: #000;
    text-decoration: none;
}

.twitter-widget ul li {
    margin-bottom: 20px;
}

.twitter-widget ul li span {
    color: #777;
}

.company-links a{
    color: #777;
}

.company-links a:hover{
    color: #ccc;
}

.copyright-section {
    padding: 30px 0;
    font-size: 15px;
}

.copyright-section p {
    font-size: 15px;
}


@media (max-width: 992px) {
    footer.main-footer *{
        text-align: center;
    }
    footer.main-footer ul.social-icons{float: left;width: 100%;text-align: center;}
    footer.main-footer nav.footer-nav ul li{
        text-align: center;
        width: 100%;
    }
    footer.main-footer nav.footer-nav ul li, footer.main-footer nav.footer-nav ul li:first-child{
        margin-left:0;
        margin-bottom: 20px;
    }
}


@media only screen and (max-width: 480px){

    footer.main-footer{
        padding: 0;
    }

    footer.main-footer *{
        text-align: left;
    }
}

.contact-form{
    margin-top: 50px;
}

.form-group{
    margin-bottom: 20px;
}

#message.form-control{
    width: 100%;
    height: 190px;
    padding: 10px;
    padding-bottom: 0;
    border: 0 ;
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid #ddd;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
    border-radius: 0px;
}

#email.form-control{
    width: 100%;
    height: 50px;
    padding: 10px;
    padding-bottom: 0;
    border: 0;
    border-radius: 0px;
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid #ddd;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
}

#nome.form-control{
    width: 100%;
    height: 50px;
    padding: 10px;
    padding-bottom: 0;
    border: 0;
    border-radius: 0px;
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid #ddd;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300
}

#azienda.form-control{
    width: 100%;
    height: 50px;
    padding: 10px;
    padding-bottom: 0;
    border: 0;
    border-radius: 0px;
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid #ddd;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
}

.newsletter{
        border-left: 1px dashed #e0e0e1;
    padding-left: 50px;
}

#submit_btn {
    color: #777;
    background-color: transparent;
    border: none;
    margin-top: 30px;
    outline: none;
}

#submit_btn:hover{
        color:#777;
}
