/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
    
    .bigger {
        font-size: 3em;
        line-height: 0.9em;
    }
    
    .home-title {
        top: 40%;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .home-title h1 {
        font-size: 1.8em;
        text-align: center;
    }
    
    .next-event-hp {
        padding: 1em;
    }
    
    .logo-home {
        float: none;
    }
    
    nav#nav-home-mobile {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.95);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        border-radius: 0;
        overflow: scroll;
        display: none;
    }
    
    ul.menu-items {
        position: relative;
        
    }
    
    ul.menu-items li {
        display: block;
        font-size: 15px;
        margin: 1em;
    }
    
    .languageitem {
        line-height: 30px;
        text-align: center;
    }
    
    .menufooter {
        position: relative;
        text-align: center;
        font-size: .6em;
        width: 100%;
        margin: 5em 0;
    }
    
    ul.submenu {
        
    }
    
    ul.submenu li {
        
    }
    
    ul.mobileuldrop {
        position: relative;
        display: none;
    }
    
    .top-right-menu {
        padding: 1em;
        color: white;
        font-size: .8em;
        background: #cec3b9;
        position: relative;
        height: 50px;
        margin-bottom: 2em;
    }
    
    #home-content {
        margin-top: 0%;
        position: relative;
        width: 100%;
        display: inherit;
    }
    
    .header-wrapper, nav.navbar, .header-wrapper-interne {
        height: 60px;
        /*background: rgba(0, 0, 0, 0.7);*/
    }
    
/*    ul.menu-items li {
        margin: 14px 1em;
    }*/
    
    nav#nav-interna ul.menu-items li {
        font-size: 1.6em;
    }
    
    .languagemenu {
        margin: 14px 0;
    }
    
/*    .logo-home {
        height: 40px;
        margin: 10px auto;
        left: 0;
        right: 0;
    }*/
    
    .contatti-hp{
        padding: 3em 1em;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    nav#nav-home-mobile {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.95);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        border-radius: 0;
        overflow: scroll;
        display: none;
    }
    
    .languageitem {
        line-height: 30px;
        text-align: center;
    }
    
    ul.mobileuldrop {
        position: relative;
        display: none;
    }
    
/*    ul.menu-items li {
        margin: 34px 1em;
    }*/
    
/*    .languagemenu {
        margin: 34px 0;
    }*/
    
/*    .logo-home {
        height: 60px;
        margin: 10px auto;
    }*/
    
    ul.navbar-nav li {   
        /*min-width: 90px;*/   
    }
    
    nav#nav-interna ul.menu-items li {
        font-size: 2em;
    }
    
    #slider-hp ul.slides {
        height: 100%;
    }
    
    #slider-hp ul.slides li.slide {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .testi {
        line-height: 2em;
        font-size: .9em;
        color: #2a2a2a;
        font-family: 'Lato';
        font-weight: 300;
    }
       
}


@media (min-width: 768px) and (orientation: portrait) {
      

}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
/*    #menu-icon {
        display: none;
    }*/
    
    .home-title {
        top: 50%;
    }
    
    .logo-home {
        float: right;
    }
    
    .top-right-menu {
        background: #cec3b9;
        padding: 1em;
        color: white;
        font-size: .8em;
    }
    
    ul.navbar-nav li {   
        /*min-width: 100px;*/   
    }
    
    .colouredTitle {
        height: 200px;
    }
    
    nav#nav-interna ul.menu-items li {
        font-size: 3em;
    }
    
    nav#nav-home-mobile ul.menu-items {
        text-align: center;
        position: relative;
        margin-top: 1em;
    }
            
    nav#nav-home-mobile ul.menu-items li {
        display: block;
        margin: 2em 0;
        font-size: 1em;
    }
    
    ul.menu-items li {
        display: inline-block;
    }
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
    .colouredTitle {
        height: 200px;
    }
    
    .bigger {
        font-size: 5em;
        line-height: 0.9em;
        margin: .5em 0;
    }
    
    ul.navbar-nav li {   
        /*min-width: 140px;*/   
    }
   
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
    
    ul.navbar-nav li {   
        /*min-width: 170px;*/   
    }
    
    .colouredTitle {
        height: 250px;
    }
   
}


/* iPhone 5+5S P+L */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
{
    
}

/* iPhone 6plus P+L */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px)
{

}

/* iPhone 6 P+L */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
{

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* iPad Landscape */
@media only screen and (max-width : 1024px) {
    h2.playfairib{
        font-size: 24px;
    }

    h3.playfairi{
        font-size: 14px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}


/* iPad Landscape */
@media only screen and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape){
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
